:root {
  --main: #081270;
  --secondary: #2C666E;
  --tertiary: #744e23;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.white-link, .footer a, .header__menu a, .mobile-menu a {
  color: white;
  text-decoration: none;
}

.menu-link, .header__menu a, .mobile-menu a {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.burguer-button {
  display: none;
  font-size: 2rem;
  z-index: 3;
}
@media screen and (max-width: 800px) {
  .burguer-button {
    display: block;
  }
}

.mobile-menu {
  background-color: rgba(8, 18, 112, 0.9);
  position: fixed;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s;
  z-index: 2;
}
.mobile-menu.active {
  right: 0;
}
.mobile-menu ul {
  list-style: none;
  position: inherit;
  right: inherit;
}
.mobile-menu li {
  margin: 30px 0;
}
.header {
  background-color: var(--main);
  color: white;
  height: 80px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  background-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo img {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 800px) {
  .header__menu {
    display: none;
  }
}
.header__menu ul {
  list-style: none;
  display: flex;
  margin: 0;
}
.header__menu li {
  margin-right: 20px;
}
.header__menu li:hover a {
  border-bottom: 2px solid white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.justify {
  text-align: justify;
}

.section {
  margin: 40px 0;
}
.section h2 {
  margin-bottom: 30px;
  color: var(--secondary);
}
@media screen and (max-width: 800px) {
  .section h2 {
    text-align: center;
  }
}
.section h4 {
  margin: 10px 0;
}
.section li {
  margin-bottom: 20px;
}
.section article {
  margin-bottom: 30px;
}
.section .row {
  display: flex;
  margin-bottom: 5px;
}
@media screen and (max-width: 800px) {
  .section .row {
    display: block;
    text-align: center;
  }
}
.section .row .title {
  width: 100px;
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  .section .row .title {
    width: auto;
  }
}

.personal-data > div {
  display: flex;
}
@media screen and (max-width: 800px) {
  .personal-data > div {
    flex-direction: column;
    align-items: center;
  }
}
.personal-data__img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.personal-data__data {
  margin-left: 40px;
}
@media screen and (max-width: 800px) {
  .personal-data__data {
    margin: 0;
  }
}
.personal-data__data h1 {
  margin-bottom: 20px;
}
@media screen and (max-width: 800px) {
  .personal-data__data h1 {
    margin-top: 20px;
    text-align: center;
  }
}
.personal-data__data .row {
  margin-bottom: 10px;
}
.personal-data__data .row .title {
  width: 250px;
}

.work-experience .row .title {
  width: 150px;
}
@media screen and (max-width: 800px) {
  .work-experience .row .title {
    width: auto;
  }
}

.main h1 {
  margin: 30px 0;
  color: var(--tertiary);
}
.main h3 {
  margin: 40px 0 20px;
}
.main .img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin: 30px 0;
}
.main ul ul {
  text-indent: 40px;
}

.references {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .references {
    display: block;
  }
}
.references article {
  text-align: center;
}
@media screen and (max-width: 800px) {
  .references article {
    margin: 20px 0;
  }
}

.footer {
  background-color: var(--main);
  color: white;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
@media screen and (max-width: 800px) {
  .footer {
    display: block;
    text-align: center;
    height: 100%;
  }
  .footer div {
    padding: 20px;
  }
}
.footer h3 {
  margin-bottom: 20px;
}
.footer a {
  display: block;
  margin-bottom: 10px;
}
.footer a i {
  margin-right: 10px;
}
.footer a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
